*{
    box-sizing:border-box;
}
body{
    height:100vh;
    width:100%;

    --large-container-width:80%;
    --small-container-width:60%;
    --dark-blue:#1F2937;
    --off-white:#F9FAF8;
    --light-grey:#E5E7EB;
    --bright-blue:#3882F6;
    --section-vertical-padding:100px; 
    --smaller-padding:50px;
    --radius:15px;
    font-family: 'Roboto', sans-serif;
}
p.no-margin{
    margin:0;
}

button{
    background-color: var(--bright-blue);
    color: inherit;
    border: none;
    padding: 8px 35px;
    font-weight: 600;
    cursor: pointer;
    outline: inherit;
    border-radius: 8px;
    margin: 0px;
    font-size: 17px;
    color:var(--off-white);
}

/* Heading Styles */
h1,h2,h3,h4,h5,h6{
    margin:0;
    padding:0;
}
h1{}

/* Header Styles */
.header-hero-container{
    background-color: var(--dark-blue);
    color:var(--off-white);
    padding:0 0 var(--section-vertical-padding) 0;
}
.header-container{
    display:flex;
    justify-content:center;
    padding:20px 0 var(--section-vertical-padding) 0;
    gap:50
}
.header{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    width:var(--large-container-width);
}
.logo{
    display:flex;
}
.menu{
    display:flex;
    flex:2;
}
.menu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display:flex;
    gap: 20px;
    justify-content: flex-end;
    width: 100%;
}
.menu ul li{
    display:inline-block;
}
.menu ul li a{
    text-decoration:none;
    color:var(--light-grey);
}

/* Hero Styles */
.hero-container{
    display:flex;
    justify-content:center;
}

.hero{
    display:flex;
    width:var(--large-container-width);
    flex-direction:row;
    gap:var(--smaller-padding);
}

.hero .column{
    width:50%;
}

.hero .right{
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:#6D747E;
}

.hero h1{
    font-size:48px;
    font-weight:700;
    color:var(--off-white);
}

.hero p{
    font-size:18px;
    color:var(--light-grey);
}


/* cards styles */
.cards-container{
    display:flex;
    flex-direction:row;
    justify-content:center;
    background-color:var(--off-white);
    padding:0 0 var(--section-vertical-padding) 0;
}
.cards{
    width:var(--large-container-width);
}
.cards-body{
    display:flex;
    flex-direction:row;
    justify-content:center;
}
.card-container{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: space-between;
    gap: 10px;
}
.card{
    width:200px;
    height:200px;
    border-radius:var(--radius);
    border:5px solid var(--bright-blue);
}

.cards-title{
    display:flex;
    justify-content:center;
    height:var(--section-vertical-padding);
    align-items:center;
}

/* testimonials */
.testimonials-container{
    display:flex;
    flex-direction:row;
    justify-content:center;
    background-color:var(--light-grey);
    padding:var(--section-vertical-padding) 0;
}
.testimonials{
    display:flex;
    flex-direction:column;
    width:var(--small-container-width);
    width:var(--small-container-width);
    align-content:space-between;
    gap:10px;
}
.testimonial-author{
    align-self:flex-end;
}

/* call to action */
.call-to-action-container{
    display:flex;
    flex-direction:row;
    justify-content:center;
    background-color:var(--off-white);
    padding:var(--section-vertical-padding) 0;
}
.call-to-action{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    gap:var(--section-vertical-padding);
    width:var(--large-container-width);
    background-color:var(--bright-blue);
    padding:var(--smaller-padding);
    color:var(--off-white);
    border-radius: var(--radius);
}
.call-to-action-body{
    display:flex;
    justify-content:center;
    flex-direction:column;
}
.call-to-action-button-container{
    display:flex;
    justify-content:center;
    align-items:center;
}
.call-to-action button{
    border:2px solid var(--off-white);
}

/*footer*/
.footer{
    display:flex;
    justify-content:center;
    align-items:center;
    height:var(--section-vertical-padding);
    background-color:var(--dark-blue);
    color:var(--off-white);
}

