body{
    height:100vh;
    width:100%;

    --large-container-width:80%;
    --small-container-width:60%;
    --dark-blue:#1F2937;
    --off-white:#F9FAF8;
    --light-grey:#E5E7EB;
    --bright-blue:#3882F6;
    font-family: 'Roboto Condensed', sans-serif;
}
p.no-margin{
    margin:0;
}
/* Header Styles */
.header-hero-container{
    background-color: var(--dark-blue);
    color:var(--off-white);
}
.header-container{
    display:flex;
    justify-content:center;
}
.header{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    width:var(--large-container-width);
}
.logo{
    display:flex;
}
.menu{

}
.menu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display:flex;
    gap:10%;
    justify-content:flex-end;
}
.menu ul li{
}
.menu ul li a{
    text-decoration:none;
}

/* Hero Styles */
.hero-container{
    display:flex;
    justify-content:center;
}

.hero{
    display:flex;
    width:var(--large-container-width);
    flex-direction:row;
}

.hero .column{
    width:50%;
}

/* cards styles */
.cards-container{
    display:flex;
    flex-direction:column;
    justify-content:center;
    background-color:var(--off-white);
}
.cards{
    display:flex;
    flex-direction:row;
    width:var(--large-container-width);
    justify-content:center;
}
/* testimonials */
.testimonials-container{
    display:flex;
    flex-direction:row;
    justify-content:center;
    background-color:var(--light-grey);
}
.testimonials{
    display:flex;
    flex-direction:column;
    width:var(--small-container-width);

}
/* call to action */
.call-to-action-container{
    display:flex;
    flex-direction:row;
    justify-content:center;
    background-color:var(--off-white);
}
.call-to-action{
    display:flex;
    flex-direction:row;
    width:var(--small-container-width);
    
}
/*footer*/
.footer-container{
    background-color:var(--dark-blue);
}
.footer{
    color:var(--off-white);
}

